

main{
    width: 60%;
    border: 3px solid rgb(240, 185, 185);
    padding: 20px;
    border-radius: 5px;
    /*position: absolute;
    top: 50%;
    left: 50%;*/ 
    transform: translate(-50%, -50%);
    background-color: white;
    margin:auto; /*Pour le centrer*/
}

input{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.page{
    display: none;
}

main header{
    display: flex;
    justify-content: space-between;
}

.page-num{
    border: 3px solid #ff4040;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 14px;
    font-size: 2em;
    color: #ff4040;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab';
}


.active{
    color: white;
    background-color: #ff4040;
}


.ing {
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.step{
    display:grid;
    grid-template-columns: 5fr 1fr;
    gap: 2%;
}

.test{
    display: flex;
    flex-direction: column;
}
